<p id="notice"><%= notice %></p>

<h1>Exercicios</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercicios.each do |exercicio| %>
      <tr>
        <td><%= exercicio.name %></td>
        <td><%= exercicio.url %></td>
        <td><%= exercicio.categoria %></td>
        <td><%= link_to 'Show', exercicio %></td>
        <td><%= link_to 'Edit', edit_exercicio_path(exercicio) %></td>
        <td><%= link_to 'Destroy', exercicio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercicio', new_exercicio_path %>
