<div class = "img_header">
	<%= image_tag("/assets/header.jpg", :class => "img-fluid") %>
</div>


<section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <%= image_tag("/assets/woman.jpg", :class => "img-fluid mb-3 mb-lg-0") %>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>A solução para uma vida saudavél</h4>
            <p class="text-black-50 mb-0">Com vários exercícios que você pode fazer em qualquer lugar, sem necessidade de nada além do peso do seu corpo, uFit é o lugar para encontrar ajuda para uma vida mais fit.</p>
          </div>
        </div>
      </div>

      <br><br>
      <div class="text-center">
      <h2>Categorias de Exercícios</h2>
      <br><br><br>
      </div>
      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <%= image_tag("/assets/arm.jpg", :class => "img-fluid") %>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Braço</h4>
                <p class="mb-0 text-white-50">Exemplos: Flexão de braços, triceps no banco, barra fixa, entre outros...</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <%= image_tag("/assets/leg.jpg", :class => "img-fluid") %>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Pernas</h4>
                <p class="mb-0 text-white-50">Exemplos: Agachamento, afundo, entre outros... </p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <%= image_tag("/assets/abdomen.jpg", :class => "img-fluid") %>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Abdômen</h4>
                <p class="mb-0 text-white-50">Exemplos: Abdominal, abdominal lateral, abdominal com elevação de quadril, entre outros...</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <%= image_tag("/assets/body.jpg", :class => "img-fluid") %>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Exercícios aeróbicos</h4>
                <p class="mb-0 text-white-50">Exemplos: Corrida, exercício com corda, polichinelo, entre outros...</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </section>
