<div class ="container">
  <br><br>
  <h1><%= @exercise.name %></h1>
  <p>
    <strong>Categoria:</strong>
    <%= @exercise.category %>
  </p>
  <% if user_signed_in? %>
    <%= link_to favorite_text, favorites_update_path(exercise: @exercise), 
      id:'favorite_link', remote: true%>
  <% end %>
  <p class="text-center">
  <br><br>
  <iframe width="850" height="504" src='https://www.youtube.com/embed/<%= @exercise.url %>?
    rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
  </p>

</div>